body {
   font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
   font-size: 18px;
}



.theme-container.rose-background {
  background-color: #ecd7d0;
}

.vueperslides--fixed-height { 
   height:100vh!important ; 
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}