body {
   font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
   font-size: 18px;
}



.theme-container.rose-background {
  background-color: #ecd7d0;
}

.messageBackground {
  background-image: url('/留言板.jpg');
  background-position: center center;
            
  /* removing tilings and repeatition*/
  background-repeat: no-repeat;

  /* to scale image to fit the screen */
  background-size: cover;
  webkit-background-size: cover;

  -moz-background-size: cover;

  -o-background-size: cover;

  /* fixed viewport against scroll ups and downs*/
  background-attachment: fixed;

  height:100%;
}